.history-panel{

    margin-top:20px;

    background:rgba(255,255,255,.05);

    border-radius:18px;

    padding:15px;

    max-height:220px;

    overflow-y:auto;

    border:1px solid rgba(255,255,255,.08);

}

.history-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:12px;

}

.history-item{

    padding:10px;

    margin-bottom:8px;

    border-radius:12px;

    background:rgba(255,255,255,.05);

    cursor:pointer;

    transition:.2s;

}

.history-item:hover{

    background:rgba(255,255,255,.10);

}

.history-expression{

    color:#ffffff;

    font-size:15px;

}

.history-result{

    color:#22c55e;

    font-size:18px;

    font-weight:bold;

    margin-top:5px;

}