/* ======================================
   Theme Variables
====================================== */

:root{

    --bg-primary:#0f172a;
    --bg-secondary:#1e293b;

    --card-bg:rgba(255,255,255,.08);

    --text:#ffffff;

    --button:#2b3445;

    --operator:#2563eb;

    --equal:#10b981;

}

/* ===== Light Theme ===== */

body.light{

    --bg-primary:#f3f4f6;
    --bg-secondary:#dbe4ee;

    --card-bg:rgba(255,255,255,.90);

    --text:#111827;

    --button:#ffffff;

    --operator:#3b82f6;

    --equal:#16a34a;

}

/* ===== Ocean Theme ===== */

body.ocean{

    --bg-primary:#071b2d;
    --bg-secondary:#10375c;

    --card-bg:rgba(25,70,120,.25);

    --text:#ffffff;

    --button:#1c4e80;

    --operator:#2563eb;

    --equal:#0ea5e9;

}

/* ===== Matrix Theme ===== */

body.matrix{

    --bg-primary:#000000;
    --bg-secondary:#071307;

    --card-bg:rgba(0,255,0,.05);

    --text:#00ff88;

    --button:#061706;

    --operator:#00aa55;

    --equal:#00ff88;

}